openapi: 3.2.0
info:
  title: Proompty Documents API
  version: 1.1.0
  description: 'Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: Documents
paths:
  /topics/{topicId}/documents/{documentId}:
    get:
      tags:
      - Documents
      description: Get a document by ID
      summary: Retrieve details about a specific document within a designated topic in the…
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: path
        name: documentId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Not found
      operationId: getTopicsByTopicIdDocumentsByDocumentId
      x-operation-id-source: derived
    delete:
      tags:
      - Documents
      description: Delete a document by ID
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: path
        name: documentId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ok
        '404':
          description: Not found
      summary: Delete a specific document within a designated topic in the Proompty API.
      operationId: deleteTopicsByTopicIdDocumentsByDocumentId
      x-operation-id-source: derived
  /topics/{topicId}/documents/upload:
    post:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      tags:
      - Documents
      description: Upload a document to a topic
      summary: Upload a document to a specific topic.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  document:
                    $ref: '#/components/schemas/Document'
        '404':
          description: Topic not found
        '409':
          description: Document already exists
        '500':
          description: Error uploading document
      operationId: postTopicsByTopicIdDocumentsUpload
      x-operation-id-source: derived
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
