openapi: 3.0.0
info:
  title: Proompty Chat User API
  version: 1.1.0
  description: '

    Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: User
  description: User related endpoints
paths:
  /me:
    get:
      tags:
      - User
      description: Retrieve user information
      summary: Retrieves user information within the Proompty API system. By sending a GET request to this endpoint, users can obtain detailed data pertaining to their profile and associated claims. This includes essential user attributes such as email, full name, avatar URL, subscription plan, and role. Additionally, the response includes claims regarding the user's subscription status, role type, and other pertinent details. In the event that the requested user is not found, a 404 error response is returned, indicating the absence of the specified user within the system.
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/User'
                properties:
                  claims:
                    $ref: '#/components/schemas/Claims'
        '404':
          description: User not found
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
