openapi: 3.2.0
info:
  title: Proompty Topics API
  version: 1.1.0
  description: 'Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: Topics
paths:
  /topics:
    get:
      tags:
      - Topics
      description: Get all topics
      summary: Retrieve all topics in the Proompty API.
      parameters:
      - in: query
        name: include
        schema:
          type: string
        required: false
        description: 'Include additional data in the response. Possible values: chats.'
      responses:
        '200':
          description: Topic[]
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Topic'
        '404':
          description: Not found
      operationId: getTopics
      x-operation-id-source: derived
    post:
      tags:
      - Topics
      description: Create a topic
      summary: Create a new topic in the Proompty API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
      responses:
        '200':
          description: Topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        '400':
          description: Maximum topics reached
        '500':
          description: Internal server error
      operationId: postTopics
      x-operation-id-source: derived
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
