openapi: 3.2.0
info:
  title: Proompty Topic API
  version: 1.1.0
  description: 'Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: Topic
paths:
  /topics/{topicId}:
    get:
      tags:
      - Topic
      description: Get a topic by ID
      summary: Retrieve details about a specific topic in the Proompty API.
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: query
        name: include
        schema:
          type: string
        required: false
        description: 'Include additional data in the response. Possible values: documents, chats.'
      responses:
        '200':
          description: Topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        '404':
          description: Not found
      operationId: getTopicsByTopicId
      x-operation-id-source: derived
    put:
      tags:
      - Topic
      description: Update a topic by ID
      summary: Update the details of a specific topic in the Proompty API.
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
      responses:
        '200':
          description: Topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
      operationId: putTopicsByTopicId
      x-operation-id-source: derived
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
