openapi: 3.2.0
info:
  title: Proompty Prompt API
  version: 1.1.0
  description: 'Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: Prompt
paths:
  /topics/{topicId}/prompts/{promptId}:
    get:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: path
        name: promptId
        schema:
          type: string
        required: true
      tags:
      - Prompt
      description: Retrieves a Prompt
      summary: Retrieve details about a specific prompt within a designated topic in the…
      responses:
        '200':
          description: Prompt
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Prompt'
        '404':
          description: Prompt not found
        '500':
          description: Error getting prompt
      operationId: getTopicsByTopicIdPromptsByPromptId
      x-operation-id-source: derived
    put:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: path
        name: promptId
        schema:
          type: string
        required: true
      tags:
      - Prompt
      description: Update a Prompt
      summary: Proompty Update a specific prompt within a designated topic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prompt'
      responses:
        '200':
          description: Prompt
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Prompt'
        '404':
          description: Prompt not found
        '500':
          description: Error getting prompt
      operationId: putTopicsByTopicIdPromptsByPromptId
      x-operation-id-source: derived
    delete:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      - in: path
        name: promptId
        schema:
          type: string
        required: true
      tags:
      - Prompt
      description: Deletes a Prompt
      summary: Remove a specific prompt associated with a particular topic.
      responses:
        '200':
          description: Confirmation
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Prompt deleted
        '404':
          description: Prompt not found
        '500':
          description: Error getting prompt
      operationId: deleteTopicsByTopicIdPromptsByPromptId
      x-operation-id-source: derived
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
