openapi: 3.2.0
info:
  title: Proompty Prompts API
  version: 1.1.0
  description: 'Proompty is an advanced Retrieval Augmented Generation (RAG) API designed

    to empower users in seamlessly integrating their data and harnessing the

    power of customized Large Language Model (LLM) prompts for interactive

    communication. At its core, Proompty operates through a series of

    interconnected functionalities that enable users to navigate and

    manipulate their data effectively.'
  termsOfService: https://proompty.com/terms-of-service
  contact:
    email: developers@proompty.com
servers:
- url: https://app.proompty.com/api
security:
- APIKey: []
tags:
- name: Prompts
paths:
  /topics/{topicId}/prompts:
    get:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      tags:
      - Prompts
      description: Retrieve all prompts for a topic
      summary: Retrieve a list of all prompts associated with a specific topic.
      responses:
        '200':
          description: Prompts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Prompt'
        '404':
          description: Topic not found
        '500':
          description: Error getting prompts
      operationId: getTopicsByTopicIdPrompts
      x-operation-id-source: derived
    post:
      parameters:
      - in: path
        name: topicId
        schema:
          type: string
        required: true
      tags:
      - Prompts
      description: Create a prompt for a topic
      summary: Create a new prompts within a specified topic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prompt'
      responses:
        '200':
          description: Prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: Bad request
        '404':
          description: Topic not found
        '500':
          description: Error creating prompt
      operationId: postTopicsByTopicIdPrompts
      x-operation-id-source: derived
externalDocs:
  url: /api.yaml
  description: OpenAPI Specification
